# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\otavi\Desktop\Análise e Desenvolvimento de Sistemas\2 - Segundo Semestre\05. Laboratório de Programação\Ap2LP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
